/**
 * This file is for any scss that you may want for this visualizer.
 */

.f-s-m-simulator {
  outline: none;
  .link {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .node {
    fill: #000;
    stroke: #fff;
    stroke-width: 1.5px;
  }
}
